.codebuilder-col {
   border: 1px solid rgb(213, 213, 213);
   border-right: none;
   border-bottom: none;
   padding: 10px 20px;
}

#droparea {
   border: 1px solid rgb(31, 171, 252);
   border-radius: 4px;
   padding: 10px 14px;
}

.code_block{
   border: 1px solid rgb(31, 171, 252);
   border-radius: 4px;
   padding: 5px 10px;
   display: block;
   min-height: 25px;
}

#codearea{
   padding: 40px 0 10px 0;
}

#codearea textarea.code {
   width: 100%;
   font-size: 0.8em;
   min-height: 200px;
   max-width: 100%;
   min-width: 100%;
}

.ui-resizable-helper {
   border: 1px dotted gray;
}
.gcb-resizable {
   display: block;
   width: 100%;
   height: 400px;
   padding: 10px 20px 20px 10px;
   border: 1px solid gray;
   overflow: hidden;
   position: relative;
}
#gcb_preview{
  border: 1px solid #94bbe0;
  height: 100%;
  width: 100%;
}

.draggable {
   border: 1px solid rgb(54, 54, 54);
   border-radius: 4px;
   padding: 10px 15px;
   margin: 3px 0;
   cursor: grab;
}

.draggable:active {
   cursor: grabbing;
}

.draggable.initial {
   margin-top: 6px;
}

.deletable .delete-me {
   border: 1px solid #e0bbbb;
   padding: 1px 4px 0px 4px;
   margin: -7px -24px;
   margin: -12px -17px;
   border-radius: 3px;
   color: #c87c7c;
   cursor: pointer;
   position: absolute;
   background-color: #fff7f7;
   font-size: 0.8em;
   opacity: 0.5;
   display: none;
}

.delete-me-wrapper:hover .delete-me{
   opacity: 1;
   display: block;
}

.drop-me-here {
   border: 1px dotted grey;
   padding: 5px 10px;
   margin: 3px;
   min-height: 20px;
   display: inline-block;
   border-radius: 3px;
}

.template #content{
   display: none !important;
}

.template p{
   margin: 0;
}

.template_group{
   border: 1px dotted grey;
   padding: 3px 9px;
   margin: 2px 5px;
   border-radius: 4px;
}
.template_group summary{
   color: #007dff;
   cursor: pointer;
}

.block-field-label{
   border: 1px solid #9b9b9b;
   padding: 1px 4px 0px 4px;
   margin: -12px 0px;
   border-radius: 3px;
   color: #5d5d5d;
   position: absolute;
   background-color: #fff7f7;
   font-size: 0.8em;
   opacity: 0.9;
}

.wrapper_delete {
   padding: 3px 9px;
}

.delete-me-wrapper{
   color: #7fa5c9;
   font-style: italic;
   font-weight: 100;
}