<p id="name">all</p>
<div id="content">
    <div class="wrapper_delete" style="display: inline-block;">
        <div class="delete-me-wrapper">To work wrap each button in btn-group first</div>
        <div class="div1">div1</div>
        <div class="div2 droppable">div2</div>
        <div class="div3">div3</div>
    </div>
</div>
<!-- div .delete-me-wrapper will be deleted upon compilation  -->
<!-- elements inside .wrapper_delete will be unwrapped (only childrn will exists)-->
<!-- div .do_not_drop_on_me will prevent being dropped on -->
